/* Alinhamento do título na hero section */
.hero-section {
    background-color: #6c63ff;
    min-height: 100vh;  /* Garante que ocupe a altura mínima da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Estilo para o formulário */
form {
    border: 2px solid #6c63ff;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;  /* Cor de fundo do formulário */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombras sutis */
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: #4e4bff;  /* Cor da borda ao focar */
    box-shadow: 0 0 8px rgba(78, 75, 255, 0.6);  /* Efeito de foco */
}

/* Customiza o navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #ffffff;  /* Cor de fundo para o navbar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombras sutis */
}

.navbar a {
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
}

.navbar a:hover {
    color: #4e4bff;
    background-color: #ffffff;  /* Efeito de hover */
}
/* Ajusta o texto do título */
h1, h2, h3 {
    font-family: 'Arial', sans-serif;
    color: #333;  /* Cor do texto para maior contraste */
}

h1 {
    font-size: 2.5rem;  /* Tamanho maior para h1 */
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }
    
}
body {
    padding-top: 70px;
  }

  .no-outline:focus,
  .no-outline:active {
    outline: none !important;
    box-shadow: none !important;
  }

  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.carousel-inner img {
    max-height: 500px; /* Ajuste o valor para o tamanho desejado */
    width: auto;       /* Mantém a proporção da imagem */
    margin: 0 auto;    /* Centraliza a imagem */
    object-fit: contain; /* Para a imagem não esticar */
  }
  .container-fluid {
    padding-left: 70px;  /* ajuste a margem mínima que quiser */
    padding-right: 70px;
  }



  
  